<div class="container text-center">
  <h1>About Page</h1>
  <br><br>
  <p>We are giving our services for over a year.We are continuously giving our customers the best of service quality avaiable in the market.</p>
</div>