<div class="home-callout text-center container-fluid">
  <h1>Welcome to eAdvisor</h1></br>
  </br>
  
 
  <h2>We repair all kind of electonic machines like washing machine,tv,computer,AC,Refrigerator.</h2>
<h3> <br> Get premium repairing service at your doorstep.<br><br>Home services are provided
 <br><br> Locations : Shalimar Bagh,Pitam Pura ,Model Town<br></br></h3>
 
 <h2>Mobile - 9716038259 <br><br> Email - rajput13mar@gmail.com </h2>
  <br><br/></br>
</div>